[Unit]
Description=Pueue task queue daemon (v4)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/reeinharrrd/.local/bin/pueued
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
