[Unit]
Description=Restic backup service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/reeinharrrd/projects/personal/dotfiles/scripts/backup-restic.sh
Nice=10
