[Unit]
Description=Cliphist Wayland Clipboard Manager
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/reeinharrrd/.local/bin/cliphist store
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
